.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    max-width: 347px;
    margin: 1.75rem 25px;
}

.card__thumnail {
    position: relative;
    width: 100%;
    min-width: 250px;
    max-height: 289px;
    user-select: none;
}

.card__thumnail img {
    width: 100%;
    height: auto;
    /* min-width: auto;
    height: auto;
    max-height: auto; */
}

.card__thumnail--overlay {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 100%;
    height: 97%;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 10;
}

.card__thumnail--overlay:hover {
    opacity: 0.6;
    transition: 1s;
}

.card__action {
    position: absolute;
    display: flex;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    color: red;
}

.card__action img:not(:nth-last-of-type(2)) {
    cursor: pointer;
}

.card__status {
    position: absolute;
    background-color: #fff;
    padding: 0.555555556em 0.666666667em;
    border-radius: 5px;
    right: 15px;
    top: 15px;
    text-transform: uppercase;
    font-size: 0.75rem;
    user-select: none;
    letter-spacing: 1px;
}
.card__status--active {
    background-color: #4a90e2;
    color:#fff;
}


.card__name {
    font-family: Roboto;
    font-size: 1.33rem;
    color: #252525;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

.card__category {
    font-family: Roboto;
    font-size: 0.916rem;
    letter-spacing: normal;
    color: #8c8c8c;
}

.creator {
    display: flex;
    margin-top: 1rem;

}

.creator__info {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.creator img {
    height: 35px;
    width: 35px;
}

.creator__name {
    color:#252525;
    font-size: 0.916666667rem;
}

.creator__date {
    color: #8c8c8c;
    font-size: 0.75rem;
}

@media (max-width:900px) {
    .list {
        justify-content: center;
    }
}
@media (max-width:600px) {
    :root{
        font-sisze:16px!important;
    }
}
@media (max-width:320px) {
    :root {
        font-size:14px!important;
    }
}